html {
	background-image: url('../images/circlesdark.png');
}
body {
	margin: 0;
}
img {
	display: inline-block; 
	width: 35%;
	padding: 5%;
	border: 5px solid blue;
	margin: 0;
	margin-right: -4px; 
}